<h1 class="todo_list_title">New Task List for <%=@event.name %></h1>
<div class="forms">
<%= render 'form', todo_list: @todo_list %>
</div>
<div class="links">
<%= link_to 'Back', event_todo_lists_path(@event), {:style=>'color:#000000;', :class => "h2"} %>
</div>
