<h1>Editing Event</h1>

<%= render 'form', event: @event %>

&nbsp;&nbsp;&nbsp;<%= link_to 'Show', @event, {:style=>'color:#WWWWWW;', :class => "btnC"} %> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<%= link_to 'Back', events_path, {:style=>'color:#WWWWWW;', :class => "btnC"} %>
