<h1>Editing Event</h1>

<%= render 'form', event: @event %>

<%= link_to 'Show', @event, {:style=>'color:#WWWWWW;', :class => "btnC"} %> 
<%= link_to 'Back', events_path, {:style=>'color:#WWWWWW;', :class => "btnC"} %>
