<p><%= guestlists.id %></p>

<p>Edit this guest:</p>
<%= render 'guestlists/table', guestlist: guestlist %>

<p><%= link_to "Remove guest", event_guestlist_path(@event, guestlist), method: :delete %></p>

<hr>
