<h1>Editing Guest</h1>

<%= render 'form', guestlist: @guestlist %>

<br><br>
  &nbsp;&nbsp;&nbsp;&nbsp;<%= link_to 'Back', event_guestlists_path(@event), {:style=>'color:#WWWWWW;', :class => "btnC"} %>
