<p id="notice"><%= notice %></p>

<h1>Confirm your details</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <h3>Thank you for your response</h3>
    
    <p> Event Name: <%= @event.name %> </p>
    
    <p> Event Description: <%= @event.description %> </p> 
    
    <p> You have responded: <%= @response_text %> </p>
 
  </tbody>
</table>
<br>
