<<<<<<< Updated upstream
<h1>About RSVPeasy</h1>
<p>Find me in app/views/pages/about.html.erb</p>
=======
<h1>About RSVPeast</h1>
<h2>Welcome to RSVPeasy</h2>
<p>We are an events management site that allows for the efficient handling of events of all sizes.</p><br>
<p>We aim to minimize effort required throughout the process of organising an event from creating it, inviting guests and most importantly managing all the RSVP's in a seamless way.</p>
<p>Create and manage up to 5 events at a time for free!</p>
>>>>>>> Stashed changes
